.skills-list{
    list-style:circle;
}
#resume-master{
   background-color: #9966CB;
   margin: auto;
    padding: 60px;
    width: 80%;
    margin-bottom: 50px;
}

.card-title{
text-align: center;
    font-size: 1.8em;
}

.resume-contact{
text-align: center;
    font-weight: 600;
}
