/**
   Title: personal-portfolio.css
   Author: Michael Christman
   Date: April 16th, 2023 (Updated: August 13th, 2023)
   Description: External tag, class and id styles for WEB 330 Personal Portfolio project
  */

*{
    font-family: 'Quattrocento', 'EB Garamond', Garamond, Arial, sans-serif;
}

body {
   background-color: ##9966CC;
}

video {
  width: 1000px;
}

#banner{
    background-color: #8AECFF;
    color: #203764;
    text-align: center;
    font-style: italic;
    font-size: 20pt;
    padding-top: 10px;
    border-bottom: 5px solid #5B7D6C;
}
#navigation-container{
    background-color: #FFDF00;
    text-align: center;
    font-size: 18pt;
    border-bottom: 10px solid #800080;
    padding-top: 10px;
}

.navigation{
    display: inline;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #2F4F4F;
    padding: 10px;
}
a:visited{
    text-decoration: none;
    color: #203764;
}
a:hover{
    text-decoration: underline;
    background-color: #800080;
    color: #6DFFB4;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown :hover {
  background-color: #74a169;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.dropbtn {
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #2F4F4F;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #386641;
  min-width: 300px;
  z-index: 1;
  font-weight: 600;
}

.dropdown-content a {
  color: #2F4F4F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

.dropdown-content a:hover {
  background-color: #74a169;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#footer{
    text-align: center;
    background-color: #FFDF00;
    border-top: 5px solid #800080;
    font-size: 12pt;
    font-weight: bold;
    padding: 2px;
    margin-top: -3px;
}
#bucket-list-card{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    line-height: 2em;
}
#bucket-list-master{
    background-color: #D4F8E5;
    padding: 20px;
}
