/* Projects.css file for the Personal Portfolio projects page */
.column {
    background-color: #BC57C9;
    box-shadow: 0 4px 8px 0 #000000;
    float: left;
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 5px;
    width: 30%;
    transition: 0.4s;
  }
  
.project-link{
    padding:0%;
    text-decoration: underline;

}
.project-link:hover{
    background-color: #000000;
    color:#F5F5DC;

}

.projects-master{
    padding-bottom: 20px;
    padding-top: 10px;
}

/* New styles added for updated container and border colors */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    background-color: #4169e1;
    padding: 10px;
}

.grid-item {
    background-color: #FF00FF;
    padding: 20px;
    font-size: 30px;
    text-align: center; 
  }


.row:after {
    content: "";
    clear: both;
    display: table;
  }

/* New styles for project cards added!*/

.card-content a {
    color: #990059;
    text-decoration: none;
    font-weight: 500;
    word-spacing: .2em;
    
}

.card-content a:hover {
    color: #520030;
    background-color: rgb(249, 230, 152);
    padding: 5px;
    border-radius: 8px;

}
