/**
    Title: christman-future-value.css
    Author: Michael Christman
    Date: April 22nd, 2023
    Description: Main external stylesheet for the Future Value App assignment from week 6
 */
#btnCalculate{
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}
.danger{
    color: #DF546A;
    float: right;
    font-size: 12px;
    letter-spacing: 2px;
}

.expert{
    padding-bottom: 20px;
}
.form{
    padding: 20px;
    padding-right: 40px;
}
.form-label{
    display: inline-block;
    padding-top: 1rem;
}
